#This file is used to keep certain files from being versioned in GitHub
.DS_Store
.RData
.Rhistory
.Rproj
.Rproj.user
animation-imdb-ratings-analysis.Rproj
README.html

Data_exploration.pdf
paper.pdf

**/temp/
**/data/
**/gen/
