#This file is used to keep certain files from being versioned in GitHub
animation-imdb-ratings-analysis.Rproj
README.html
paper.pdf
.DS_Store
.Rproj.user
.Rproj
.Rhistory
.RData
.pdf
**/temp/
**/data/
**/gen/
