#The following files are NOT versioned in GitHub
.DS_Store
.RData
.Rhistory
.Rproj
.Rproj.user
animation-imdb-ratings-analysis.Rproj
README.html
Data_exploration.pdf
paper.pdf
paper.log
**/temp/
**/data/
**/gen/
